@import '../styles/bootstrap-theme.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.summary {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.details {
  // text-align: center;
  padding-top: 10px;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;

  a {
    width: 100%;
    display: inline-block;
  }
}

.author {
  font-size: $font-size-sm;
  color: $text-muted;
  font-weight: bold;
}

.description {
  margin-top: 0.5rem;
  font-size: $font-size-sm;
  color: $text-muted;
}
