.podcast {
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    background: transparent;
    margin: 0;
    text-align: left;
    width: 100%;
    padding: 10px;

    &:hover {
      background: lightblue;
    }
  }

  &.active {
    button {
      background: lightblue;
    }
  }

  img {
    width: 70px;
    height: 70px;
    min-width: 70px;
    margin-right: 15px;
  }
}

.name {
  font-weight: bold;
}
