@import './bootstrap-files';

.hero {
  background: url(/hero.jpg) no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 1rem;

  h1,
  p {
    font-family: 'Shadows Into Light', cursive;
    text-transform: uppercase;
  }

  h1 {
    margin: 0;
    font-weight: 600;
    padding: 135px 0 60px;

    span {
      transform: rotate(-5deg);
      display: inline-block;
    }
  }

  p {
    margin: 0;
    padding: 30px 0 180px;
  }
}

.learnMore {
  text-align: center;
  margin: -5rem 0 2rem;
  font-size: 1.4rem;

  p {
    margin: 0;
    padding: 20px 40px;
    display: inline-block;
    background: $blue-100;
    border: 1px solid $blue-200;
    line-height: 2;
  }
}

@include media-breakpoint-down(xl) {
  .hero {
    h1 {
      padding: 145px 0 50px;
    }
  }
}
