@import './bootstrap-files.scss';

.login {
  padding-top: 20px;

  button {
    width: 100%;
  }

  :global(.row) > div {
    padding-top: 20px;
    padding-bottom: 20px;

    & + div {
      border-left: 1px solid $gray-300;
    }

    label {
      font-weight: bold;
      color: $text-muted;
      margin-bottom: 20px;
      line-height: 1;
    }
  }
}
