@import './bootstrap-files.scss';

.login {
  padding-top: 20px;

  button {
    width: 100%;

    &:global(.btn-outline-primary) {
      &:hover,
      &:active,
      &:focus {
        background-color: #fff;
        color: $primary;
      }
    }
  }

  :global(.row) > div {
    padding-top: 20px;
    padding-bottom: 20px;

    & + div {
      border-left: 1px solid $gray-300;
    }

    label {
      font-weight: bold;
      color: $text-muted;
      margin-bottom: 20px;
      line-height: 1;
    }
  }
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleIcon {
  max-width: 15.5px;
  margin-right: 0.5rem;
}
