@import '../styles/bootstrap-files.scss';

.playlistsContainer {
  height: 100%;
  background: $gray-200;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray-300;
  margin-bottom: 10px;
  padding: 1.25rem 15px 1rem;

  h4 {
    font-size: $font-size-base;
    margin: 0;
    text-transform: uppercase;
    color: $gray-600;
  }
}

.noPlaylists {
  padding: 20px;
  background: $gray-100;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
  margin-top: 1rem;

  p {
    font-size: $font-size-sm;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.playlists {
  overflow: auto;
}
