@import '../styles/bootstrap-files.scss';

.player {
  background: $gray-200;
  border: 1px solid $gray-300;
  padding: 25px;
  border-radius: $border-radius;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  @include media-breakpoint-down(sm) {
    :global(.img-fluid) {
      max-width: 30vw;
      margin: 0 auto;
      display: inline-block;
    }
  }
}

.title {
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  h5 {
    margin: 0;
  }

  .showName {
    font-size: $font-size-sm;
    color: $text-muted;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 15px;
    flex-direction: column;
  }
}

.times {
  color: $text-muted;
  font-weight: bold;
  font-size: $font-size-sm;
}

.controls {
  display: flex;
  align-items: center;

  > div + div {
    margin-left: 15px;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    position: relative;

    > div {
      width: 100%;

      & + div {
        margin: 15px 0 0;
        width: 100%;
      }
    }

    .volume {
      // volume doesn't seem to work on mobile, so just get rid of it
      display: none;
      /*
      // in the event i can figure out a way to get volume working, here's a decent style for it
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border-left: 1px solid $gray-400;
      width: 3rem;
      margin: 0;
      padding: 0 0 0 15px;

      input {
        transform: rotate(-90deg) translate(-60%, 0);
        transform-origin: 0 0;
        width: 100px;
      }
      */
    }
  }
}

.descriptionContainer {
  padding-top: 10px;

  .description {
    font-size: $font-size-sm;
    white-space: pre-wrap;
    padding-bottom: 5px;

    &.expanded {
      height: auto;
    }
  }
}

.buttons {
  white-space: nowrap;

  button {
    position: relative;
    z-index: 10;

    &:first-child {
      padding-right: 25px;
      margin-right: -20px;
    }

    &:last-child {
      padding-left: 25px;
      margin-left: -20px;
    }

    &[disabled] {
      opacity: 1;
      background: $gray-600;
      border-color: $gray-600;
    }
  }

  .playButton {
    z-index: 20;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    border: 3px solid $gray-200;
    box-shadow: none;

    &[disabled] {
      border-color: $gray-200;
    }
  }
}

.progress {
  display: flex;
  flex-grow: 1;

  input {
    width: 100%;
  }
}

.volume {
  display: flex;
  align-items: center;
  width: 175px;
  display: flex;

  svg {
    margin-right: 10px;
  }

  button {
    color: $body-color;

    &:hover {
      color: $link-color;
    }
  }

  input {
    flex-grow: 1;
    width: calc(100% - 2rem);
  }
}

.actualPlayer {
  position: absolute;
  left: -999rem;
  top: -999rem;
}
