@import '../styles/bootstrap-files.scss';

.item {
  border: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: $font-size-sm;
  border-radius: $border-radius-sm;
  background: transparent;
  border-radius: 0 !important;
  display: flex;
  align-items: center;

  &:hover,
  &:focus,
  &:active {
    background: $blue-100;
  }

  &.flashing {
    animation: flashBg 0.1s infinite;
  }

  &.saving {
    background-color: $blue-300;
    color: #fff;
  }
}

.active {
  background: $primary;
  color: $white;
}

.playlistImage {
  width: 24px;
  margin-right: 1rem;
}

@keyframes flashBg {
  0%, 49% {
    background-color: $primary;
    color: #fff;
  }
  50%, 100% {
    background-color: transparent;
  }
}
