@import './bootstrap-files';

.labelContainer {
  display: flex;
  align-items: flex-start;
  font-size: $font-size-sm;

}

.count {
  color: $text-muted;
  font-size: $font-size-sm;
  margin-left: 5px;
  padding-top: 2px;
}

.showMoreLess {
  border-top: 1px solid $gray-200;
  margin-top: 10px;

  button {
    position: relative;
    left: -1px;
  }
}
